<tr>
  <%= simple_form_for @item, defaults: { input_html: { class: 'form-control'} } do |f| %>
    <td align="right"><strong> Add New Item to Style </strong></td>
    <td><%= f.input :style_id, :input_html => {value: params[:style_id]}, as: 'hidden' %>
        <%= f.input :size, label: false, required: true %></td>
    <td><%= f.input :color, label: false, required: true %></td>
    <td><%= f.input :status, collection: Item::STATUS , label: false, required: true %></td>
    <td><%= f.input :price_sold, label: false %></td>
    <td><%= f.button :submit, class: 'btn-primary btn-sm', label: false, required: true %></td>  
  <% end %>
</tr> 