<div id="items"> 
  <%= render partial: "styles/edit" %>
  <div class="well">
    
    <table class="table table-striped">
      <thead>
        <tr>
          <td colspan="7"></td>
          <td><button class="btn btn-success batch-me" >Batch Items</button></td>
        </tr>
        <%= render partial: "items/item_new" %>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Style</th>
          <th>Size</th>
          <th>Color</th>
          <th>Status</th>
          <th>Wholesale</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
          <%-  @items.each do |i| -%>
              <%- if params[:item_id].to_i == i.id %>
                  <tr class="info row-toggle">
              <%- else %>
                  <tr class="row-toggle">     
              <% end %>
              <td><%= i.id %></td>
              <td><%= i.style.type %></td>
              <td><%= i.style.name %></td>
              <td><%= i.size %></td>
              <td><%= i.color %></td>
              <td><%= i.status %></td>
              <td><%= number_to_currency(i.style.wholesale_price) %></td>
              <td><%= link_to("Edit Style Items", styles_path(item_id: i.id, style_id: i.style.id), html_options = {class: "btn btn-primary btn-xs"}) %>
                <button id="item-<%= i.id %>" class="btn btn-success btn-xs ad-batch">Add to Batch</button>
              </td>
            </tr>
          <%- end -%>
      </tbody>
    </table>
  </div>
</div>